nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;

}


nav a {

  font-size: 18px;
  color: rgb(0, 4, 255);
  text-decoration: none;
}


nav a:hover {
text-decoration: underline;

}

header {
display: flex;
align-items: center;
justify-content: flex-start;
gap: 40px;
padding: 10px 30px;
}

header h2 {
  margin: 0px;
}
