/* ===== CABEÇALHO ===== */
nav { 
    display: flex; 
    gap: 30px; 
    justify-content: flex-start; 
    align-items: center; 
     
   
  } 
   
   
  nav a { 
   
    font-size: 18px; 
    color: black; 
    text-decoration: none; 
    padding: 8px 5px; 
  } 
   
   
  nav a:hover { 
  text-decoration: underline; 
   
  } 
   
  header { 
  background-color: rgba(34, 69, 185, 0.747); 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  padding: 15px 40px; 

  } 

  
    .logo { 
    width: 180px; 
    height: auto; 
    } 
 
  /* ===== FORMULÁRIO ===== */
    

  header h2 { 
    margin: 0px; 

  } 
 
  hr{ 
    flex: 1; 
 
  } 
 
  h1 {

    text-align: center;
  }
 
 

 
form { 
  
  width: 300px; 
  padding: 20px; 
  background-color: white; 
  border: 1px solid black; 
  border-radius: 10px; 
  margin: 30px auto;
} 
 
input { 
 
  border: 2px solid black; 
  width: 250px; 
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 15px; 
} 
 
button { 
 
  background-color: rgba(8, 37, 133, 0.747);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  color: black;
 
}    

button:hover {

background-color: rgba(0, 0, 255, 0.801);


}


/* ===== LINKS ESPECIAIS ===== */
 .destaque_loguin { 
    font-size: 25px; 
    text-decoration: none; 
    color: black; 
    width: 100px; 
    text-align: right; 
    
    
     
   
  } 

  .destaque_cadastro {

    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    color: black;

  }
