nav {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;    
}

nav a {
    font-size: 60px;
    color: rgb(0, 4, 255);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a {
  margin: 0 20px; 
}

header {
  display: flex;
  align-items: center;      /* alinha na vertical */
  gap: 16px;                /* espaço entre "Inicio" e o menu */
}

header h2 {
  margin: 0;                /* remove a margem que desalinha */
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  font-size: 50px;          /* reduz o tamanho dos links */
  text-decoration: none;
}'
